
.customer-tools{
    display: flex;
    column-gap: 20rem;
}
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #E3E1E1;
    padding: 1rem;
    width: 20rem;
}

.my-display {
    display: flex;
    /* align-self: flex-end; */
    background-color: #E3E1E1;
    padding: 1rem;
    width: 50rem;
}

.my-flights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.flight-ctn {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    width: 30rem;
}